@font-face {
  font-family: "Kaisei Opti";
  src: url("../font/KaiseiOpti-Regular.ttf");
}

@font-face {
  font-family: "Niconne";
  src: url("../font/Niconne-Regular.ttf");
}

@charset "UTF-8";
html,
body {
  text-align: center;
	font-family: 'Kaisei Opti', serif;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background 2s ease-in-out;
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#greeting_words {
  padding: 0;
  margin: 0;
  color: #ffefd5;
  font-size: 3rem;
  line-height: 3rem;
  position: absolute;
  top: 20%;
  background-color: transparent;
  border-color: transparent;
  text-shadow: #fff 0 0 5px;
}

#cntr_text {
  padding: 0;
  margin: 0;
  color: #fdf5e6;
  font-size: 1.5rem;
  line-height: 1.5rem;
  position: absolute;
  top: 49%;
  background-color: transparent;
  border-color: transparent;
}

footer {
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  bottom: 0%;
  flex-grow: 0;
  flex-shrink: 0;
}

#option,
#copyright {
  padding: 0;
  margin: 0;
  color: #f0f0f5;
	font-family: 'Niconne', cursive;
  font-size: 1rem;
  line-height: 1.39rem;
  background-color: transparent;
  border-color: transparent;
}

#dawn,
#f_half_morning,
#l_half_morning,
#f_half_daytime,
#l_half_daytime,
#evening,
#nighttime,
#toggleBtn {
  padding: 0;
  margin: 0;
  color: #f0f0f5;
  font-size: 0.7rem;
  line-height: 0.7rem;
  background-color: transparent;
  border-color: transparent;
}
