@charset "UTF-8";

body {
	min-height: 100vh;
	color: white;
	text-align: center;
	font-family: "Courgette", cursive;
	margin: 0;
	padding: 0;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

main {
	flex-shrink: 1;
}

#greeting_words {
	color: #DAA520;
	font-size: 3rem;
	position: absolute;
	top: 45%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	background-color: transparent;
	border-color: transparent;
}

#cntr_text {
color: #DAA520;
	font-size: 2rem;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	background-color: transparent;
	border-color: transparent;
}

#btns,
#footer,
#notice,
#dawn,
#f_half_morning,
#l_half_morning,
#f_half_daytime,
#l_half_daytime,
#evening,
#nighttime {
	color: #85754e;
	bottom: 0;
	width: 100%;
	font-size: 15px;
	background-color: transparent;
	border-color: transparent;
}

#copyRight {
	color: #b8860b;
	bottom: 0;
	width: 100%;
	font-size: 15px;
	text-align: center;
	background-color: transparent;
	border-color: transparent;
}
