@charset "UTF-8";

body {
	color: white;
	text-align: center;
	font-family: 'Courgette', cursive;
	font-display: swap;
	margin: 0;
	padding: 0;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/* #title { */
#greeting_words {
	line-height: 300px;
	font-size: 4rem;
}

#cntr_text {
	line-height: 200px;
	font-size: 30px;
}

#dawn, #f_half_morning, #l_half_morning, #f_half_daytime, #l_half_daytime, #evening, #nighttime {
	color: white;
	background-color: transparent;
	border-color: transparent;
}